main {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin: 0 auto;
}

.contact-us-form {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 20px;
}

.contact-us-form div {
    position: relative;
    display: grid;
}

.contact-us-form input {
    width: 100%;
    height: 50px;
    position: relative;
    border: solid 2px black;
    border-radius: 6px;
    outline: none;
    padding: 6px;
    background: none;
}

.contact-label {
    position: absolute;
    left: 10px;
    top: 6px;
    cursor: text;
    transition: 200ms ease-in;
    padding: 2px;
    background-color: #f5ebe0;
}

.contact-us-form div input:focus ~
.contact-label {
    top: -9px;
    font-size: 0.8rem;
    left: 5px;
}

.contact-us-form div input:not(:placeholder-shown) ~
.contact-label {
    top: -9px;
    font-size: 0.8rem;
    left: 5px;
}

.contact-number-container {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
}

#number::-webkit-inner-spin-button, #number::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

#number[type=number] {
    -moz-appearance: textfield;
}

.contact-comment-container {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
}

.contact-comment-container {
    height: 100px;
}

.contact-comment {
    height: 100px;
    text-align: left;
    padding: 10px 6px 6px 6px;
    position: relative;
    border: solid 2px black;
    border-radius: 6px;
    outline: none;
    background: none;
    resize: none;
}

.contact-comment:focus ~
.contact-label {
    top: -9px;
    font-size: 0.8rem;
    left: 5px;
}

.contact-comment:not(:placeholder-shown) ~
.contact-label {
    top: -9px;
    font-size: 0.8rem;
    left: 5px;
}

.contact-us-form button {
    width: 80px;
    height: 40px;
    background-color: #0a2472;
    color: white;
    cursor: pointer;
    border: solid 1px black;
}

.contact-us-form button:hover {
    background-color: white;
    color: #0a2472;
}