.search {
    position: relative;
    height: 35px;
    width: fit-content;
    display: flex;
    flex-direction: row;
    /* border: solid 2px black; */
    border-radius: 6px;
    justify-content: center;
    align-items: center;
  }

  .search-btn {
    cursor: pointer;
    padding: 2px 2px 2px 6px;
  }

  .search-btn i {
    font-size: 20px;
    color: black;
  }
  
  .search-field {
    outline: none;
    border: none;
    width: 0px;
    transition: 1s;
    background-color: transparent;
  }
  
  .close-search-bar {
    display: none;
    position: absolute;
    top: -17px;
    right: -10px;
  }

  .close-search-bar i {
    color: black;
  }
  
  .search-field.open {
    outline: none;
    border-bottom: solid 1px black;
    width: 220px;
    transition: 1s;
    background-color: transparent;
  }
  
  .close-search-bar.open {
    display: block;
    cursor: pointer;
    position: absolute;
    top: -17px;
    right: -10px;
  }